{% extends "base_layout.html" %} {% block title %}Welcome{% endblock %} 
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('serveStaticResource', resource='css/timeline.css') }}">
    <link rel="stylesheet" href="{{ url_for('serveStaticResource', resource='css/morris.css') }}">
{% endblock %} 
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Overview</h1>
    </div>
</div>


<div class="row" id='icons_table'>
        <div class="col-lg-4 col-md-6">
            <a href="#"><div class='iconborderradius'>
                <h1 class='icon_text'>Entity-Sentiment Relationships</h1>
                <p class='icon_description'>Identifies relationships between entities and the relevant sentiments expressed towards it</p>
                <img src='/static/icons/emotions.png'>
            </div></a>
        </div>      
        <div class="col-lg-4 col-md-6">
            <div class='iconborderradius'>
                <h1 class='icon_text'>Unstructured Data Dynamic Masking</h3>
                <p class='icon_description'>Performs masking of the input text</p>
                <a href="#"><img src='/static/icons/text_summarisation.png'></a>
            </div>
        </div>   
        <div class="col-lg-4 col-md-6">
            <div class='iconborderradius'>
                <h3 class='icon_text'>Topic Modelling</h3>
                <p class='icon_description'>Identifies groups of documents and organises them into topics. Supports guided topic modelling as well</p>
                <img src='/static/icons/topics.png'>
                <i>Work in progress</i>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <a href="#">
                <div class='iconborderradius'>
                    <img src='/static/icons/topics.png'>
                    <h3 class='icon_text'>ESR Text Box</h3>
                    <p class='icon_description'>Scalable ESR</p>
                    <i>Work in progress</i>
                </div>
            </a>
        </div>
    </td>
</div>
<!-- /.row -->{% endblock %}
{% block js %}
    {{ super() }}
    <script src="{{ url_for('serveStaticResource', resource='js/raphael-min.js')}}"></script>
    <script src="{{ url_for('serveStaticResource', resource='js/morris.min.js')}}"></script>
    <script src="{{ url_for('serveStaticResource', resource='js/morris-data.js')}}"></script>
{% endblock %}